@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #111827;
  background-color: #f2f0e3;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Nunito", sans-serif;
}

.site-header {
  margin-bottom: 2rem;
}

.site-footer {
  margin-top: 2rem;
}

.site-footer hr {
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #ccc;
}

.container-sm,
.container-md {
  margin-right: 1.125rem;
  margin-left: 1.125rem;
}

@media (min-width: 576px) {
  .container-sm,
  .container-md {
    margin-right: 0;
    margin-left: 0;
  }

  .container-sm,
  .site-header .decor,
  .site-footer .decor {
    width: 576px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-md {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}
