@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,401,700,701&display=swap");

:root {
  /* Breakpoints
     * Ini hanya sebagai penanda
    */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --font-sans: "General Sans", sans-serif;
}

html {
  font-feature-settings:
    "liga" 1,
    "kern" 1;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 0 auto;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

/* --breakpoint-md */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}
