:root {
    /* Breakpoints
     * Ini hanya sebagai penanda
    */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
}

.container {
    margin: 0 auto;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
}

/* --breakpoint-md */
@media (min-width: 768px) {
    .container {
        max-width: 700px;
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }
}
