---
import LogoFooter from "./LogoFooter.astro";
import IconGithub from "./IconGithub.astro";
import IconInstagram from "./IconInstagram.astro";
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <span>© 2026</span>
      <LogoFooter />
      <span>·</span>
      <a target="_blank" href="https://github.com/hazulifidastian/"
        ><IconGithub /></a
      >
      <a target="_blank" href="https://instagram.com/hazulifidastian/"
        ><IconInstagram /></a
      >
    </div>
  </div>

  <style>
    .footer {
      margin-top: 3rem;
      padding-bottom: 1rem;
      font-size: 0.85rem;
      color: var(--muted-foreground);
    }

    .footer a {
      color: inherit;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    .footer-content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  </style>
</footer>
