<header>
    <div class="container">
        <h1 class="title">Hazuli Fidastian</h1>
        <p class="subtitle">Software Developer</p>
    </div>
</header>

<style>
    header {
        padding-top: 5rem;
    }

    .title {
        font-family:
            "Segoe Script", "Snell Roundhand", "Apple Chancery",
            "URW Chancery L", cursive;
        margin-bottom: 0.3rem;
    }
    .subtitle {
        margin-bottom: 2.5rem;
    }
</style>
