---
import Logo from "../components/Logo.astro";
---

<header>
  <div class="container">
    <Logo />
    <p class="subtitle">Software Developer</p>
  </div>
</header>

<style>
  header {
    padding-top: 3.5rem;
  }

  @media (min-width: 768px) {
    header {
      padding-top: 5rem;
    }
  }

  .title {
    margin-bottom: 0.3rem;
  }
  .subtitle {
    margin-bottom: 2.5rem;
  }
</style>
