---
import Logo from "../components/Logo.astro";
---

<header>
  <div class="container">
    <a class="title" href="/">Hazuli Fidastian</a>
    <p class="subtitle">Software Developer</p>
  </div>
</header>

<style>
  header {
    padding-top: 3.5rem;
  }

  @media (min-width: 768px) {
    header {
      padding-top: 5rem;
    }
  }

  .title {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 0.3rem;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
</style>
